<div class= 'container'>
<div class="specific_user_profile">
	<h2>Welcome to <%= @user.name %>'s profile</h2>
	<br>
  <!-- <form method="post" action="/save_shout_out">
  <input type="text" placeholder="enter your shout out here" name="new_shout_out_content" />
  <input type="submit" value="holla" />
  </form> -->
  <br>
  <div class= profile>
  	<p>@<%= @user.handle %></p>
	<br>
	<p>Location: <%= @user.location %>a</p>
	<br>
	<p>Bio: <%= @user.bio %></p>
	<p><%= @user.name %>'s shout outs:</p>
	<% @user.shout_outs.each do |shout_out| %>
		<p>shout out created on <%= shout_out.created_at %></p>
		<p><%= shout_out.content %></p>
		<br>
	</div>
	<% end %>


	<% if @current_user.followees.include? @user || @current_user.id == @user.id %>
	<% else %>
	<form action="/follow/<%= @user.id %>" method="post">
      <button type='submit'>follow @<%= @user.handle %></button>
  </form>
  <% end %>

  <p>See who @<%= @user.handle %> follows: </p>
  <% @user.followees.each do |followee| %>
		<a href="/user/<%= followee.id %>"><%= followee.handle %></a>

		<br>
	<% end %>

</div>

</div>
